@model List<AzureIntegration.Services.ResourceGroup>

<h2>Resource Groups</h2>
<<<<<<< HEAD
<ol>
@if (Model != null && Model.Count > 0)
{
    foreach (var resourceGroup in Model)
    {
            <li><a href="@Url.Action("Details", "ResourceGroups", new { name = resourceGroup.Name })">
                    @resourceGroup.Name </a>  (@resourceGroup.Location)
            </li>
    }
}
else
{
        <li>
            No resource groups found.
        </li>
}
=======

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var resourceGroup in Model)
            {
                <tr>
                    <td>@resourceGroup.Name</td>
                    <td>@resourceGroup.Location</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">No resource groups found.</td>
            </tr>
        }
    </tbody>
</table>
>>>>>>> 058c5a172ca0442c36f64d4dccc359928241967c
